#banner{
	height: 180px;
	width: 420px;
	background: rgba(51,51,51,0.3);
	box-shadow: 0 20px 35px rgba(0, 0, 0, 1.0);
	margin-left: 5px;
}

header {
    background: rgba(51,51,51,0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
	margin-bottom: 10px;
}

.caixa {
    position: relative;
    width: 1300px;
    margin: 0 auto;
}

.logo {
    width: 200px;
}

nav {
    position:absolute;
    right: 15px;
    top: 25%;
}

nav li {
    display: inline;
    margin: 0 15px 0 0;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-size: 25px;
    font-weight: bold;
}

.icons {
    width: 30px;
}

#corpo{
	background: linear-gradient(rgba(51, 51, 51, 0.5),rgba(51,51,51,0.5)), url(img/aetherandlumine.jpg);
	background-size: 100%;

}

#colunadireita{
	background: rgba(51,51,51,0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	width: 200px;
	height: 505px;
	float: right;
	padding: 5px;
	border: solid 5px rgba(14, 14, 14, 0.5);
	margin-right: 5px;
}

#menudawiki{
	font-size: 30px ;
	color: black;
}

#menu{
	margin-top: 20px;
	font-size: 17px;
	font-family: verdana;
	text-align: center;
}

.menu-itens{
	color: black;
	text-decoration: none;
}

#video{
	margin: 20px 0px 0px 5px;
	background: rgba(51,51,51,0.3);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 1.0);
}

#texto{
	font-size: 17px;
	font-family: verdana;
	background: rgba(51,51,51,0.3);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	height: auto;
	margin: 20px 5px 5px 5px;
	border: solid 5px rgba(14, 14, 14, 0.5);
	padding: 25px 10px 25px 10px;
}

.talentos {
	font-size: 45px;
	margin-top: 30px;
	text-align: center;
}

.personagem-destaque{
	height: auto;
	background-color: #f7e9cf;
	border: solid #4a3e42 5px;
	padding: 5px;
	padding-bottom: 15px;
}

.banner-titulo {
	text-align: center;
	font-size: 30px;
	
}

.imagem-fundo {
	width: 100%;
}

.banner-imagem {
	width:50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid #4a3e42 5px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

.texto-albedo {
	text-align: center;
	margin: 20px;	
	font-size: 20px;
	font-family: monospace;
}

.albedo-nome {
	text-align: center;
	margin-bottom: 10px;
	font-size: 40px;
}

.albedo-video {
	width: 50%;
	height: 519px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid #4a3e42 5px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

.talentoss {
	margin: 10px;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.talento-descricao {
	font-size: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-left: 15px;
	text-align: center;
}

.grid-item {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 940px;
	padding-bottom: 20px;
}

.talentoimg {
	width: 5%;
	margin-top: 10px;
	position: relative;
	width: auto;
}

footer {
	text-align: center;
	background: url("img/background-footer.png");
	padding: 40px 0;
}

footer p {
	color: #808080 ;
}