body {
    background: linear-gradient(rgba(51, 51, 51, 0.5),rgba(51,51,51,0.5)), url(img/aetherandlumine.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header {
    background: rgba(51,51,51,0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
	margin-bottom: 10px;
}

.caixa {
    position: relative;
    width: 1300px;
    margin: 0 auto;
}

.logo {
    width: 200px;
}

nav {
    position:absolute;
    right: 15px;
    top: 25%;
}

nav li {
    display: inline;
    margin: 0 15px 0 0;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-size: 25px;
    font-weight: bold;
}

.icons {
    width: 30px;
}

.titulo {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    
}

.texto {
    color: white;
    font-size: 20px;
    text-align: center;
}


.mondstadt-imagem {
    position: relative;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px #ee9074;
}

.liyue-imagem {
    position: relative;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px #2365a0;
}

.inazuma-imagem {
    position: relative;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px #f89cbc;
}

.nacoes {
    color: white;
    margin: 0;
    text-align: center;
    margin: 15px;
}

.cidades {
    font-size: 30px;
    color: white;
    margin-top: 15px;
    text-align: center;
}

.cidade-icone {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.elemento-icone {
    width: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lista {
    margin-left: -20px;
}

.cidade-descricao {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

footer {
	text-align: center;
	background: url("img/background-footer.png");
	padding: 40px 0;
    margin-top: 10px;
}

footer p {
	color: #808080 ;
}


